node_modules/
target/
_out/
gen/

.cdsrc-private.json
default-*.json
*.sqlite

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Build output
dist/

# Sub-app lockfiles
app/*/package-lock.json

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models
